html {
    height: 100%;
    width: 100%;
    /* margin: 0; */
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
	background-color: #0a0c1b;
    position: relative;
}

div{
    background-color: #1C1938;
    border-radius: 10px;
    height: 350px;
    width: 900px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* height: 200px;
    display: flex;
    align-items: center;
    justify-content: center; */
    
}

img{
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    height: 100%;
    margin-left: 53%;
}
/* .caja {
    background-color: red;
    height: 100%;
    width: 100%;
} */
