@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
	/*********************************TAG SECTION********************************/
	body {
		background-color: #090b1a;
		font-family: "Inter", sans-serif;
		font-size: 15px;
		color: #ffffff;
		width: 1400px;
	}

	h1 {
		width: 350px;
		margin: 14% 0 0 12%;
	}

	p {
		color: #ffffff99;
		font-size: 12.5px;
		margin: 0;
	}

	span {
		color: #aa5cdb;
	}

	img {
		height: 100%;
		margin-left: 50.5%;
	}

	th {
		font-size: 23px;
		width: 110px;
	}

	/*********************************CLASS SECTION********************************/
	.container {
		background-color: #1b1938;
		border-radius: 10px;
		height: 400px;
		width: 978px;
	}

	.txt-container {
		top: 0%;
		height: 100%;
		width: 50.5%;
	}

	.purple-box {
		/* background-color: #aa5cdb; */
		background-color: #62009f;
		height: 100%;
		width: 49.5%;
		margin-left: 50.5%;
		opacity: 0.33;
	}

	.stats {
		width: 350px;
	}

	.main-para {
		line-height: 1.75;
		width: 290px;
		margin: 5% 0 0 12%;
	}

	.table-desktop {
		text-align: left;
		margin: 11% 0 11% 12%;
	}

	.table-mobile {
		display: none;
	}

	.table-para {
		font-family: "Lexend Deca", sans-serif;
	}

	/****Codigo para centrar objetos*****/
	.centered {
		/* position: fixed; */
		position: absolute;
		top: 50%;
		left: 50%;
		/* bring your own prefixes */
		transform: translate(-50%, -50%);
	}

	/*********************************CSS Grouping Selector********************************/
	img,
	.txt-container {
		position: absolute;
	}

	.purple-box,
	img {
		border-top-right-radius: inherit;
		border-bottom-right-radius: inherit;
	}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 1199px) {
	/*********************************TAG SECTION********************************/
	body {
		background-color: #090b1a;
		font-family: "Inter", sans-serif;
		font-size: 15px;
		color: #ffffff;
		width: 375px;
	}

	h1 {
		width: 280px;
		margin: 11% 0 0 8%;
	}

	p {
		color: #ffffff99;
		font-size: 12.5px;
		margin: 0;
	}

	span {
		color: #aa5cdb;
	}

	img {
		width: 100%;
		margin-bottom: 50.5%;
	}

	th {
		font-size: 23px;
		height: 35px;
	}

	td {
		height: 40px;
		vertical-align: top;
	}

	/*********************************CLASS SECTION********************************/
	.container {
		background-color: #1b1938;
		border-radius: 10px;
		height: 805px;
		width: 330px;
	}

	.txt-container {
		bottom: 0;
		height: 66%;
		width: 100%;
		text-align: center;
	}

	.purple-box {
		/* background-color: #aa5cdb; */
		background-color: #62009f;
		height: 33.8%;
		width: 100%;
		margin-bottom: 50.5%;
		opacity: 0.33;
	}

	.stats {
		width: 350px;
	}

	.main-para {
		line-height: 1.75;
		width: 223px;
		margin: 5% 0 0 18%;
	}

	.table-desktop {
		display: none;
	}

	.table-mobile {
		text-align: center;
		margin: 11% 0 0 37.5%;
	}

	.table-para {
		font-family: "Lexend Deca", sans-serif;
	}

	/****Codigo para centrar objetos*****/
	.centered {
		/* position: fixed; */
		position: absolute;
		top: 50%;
		left: 50%;
		/* bring your own prefixes */
		transform: translate(-50%, -50%);
	}

	/*********************************CSS Grouping Selector********************************/
	img,
	.txt-container {
		position: absolute;
	}

	.purple-box,
	img {
		border-top-right-radius: inherit;
		border-top-left-radius: inherit;
	}
}
