/*********************************TAG SECTION********************************/
body {
	background-color: #090b1a;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	color: #ffffff;
}

h1 {
	width: 350px;
	margin: 14% 0 0 12%;
}

p {
	color: #ffffff99;
	font-size: 12.5px;
	margin: 0;
}

span {
	color: #aa5cdb;
}

img {
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
	height: 100%;
	margin-left: 50.5%;
}

table {
	text-align: left;
	margin: 11% 0 11% 12%;
}

th {
    font-size: 23px;
    width: 110px;
}

td {
	width: 100px;
}

img {
	position: absolute;
}

/*********************************CLASS SECTION********************************/
.container {
	background-color: #1b1938;
	border-radius: 10px;
	height: 400px;
    width: 978px;
}

.txt-container {
	position: absolute;
	top: 0%;
	height: 100%;
	width: 50.5%;
}

.purple-box {
	border-top-right-radius: inherit;
	border-bottom-right-radius: inherit;
	/* background-color: #aa5cdb; */
	background-color: #62009f;
	height: 100%;
	width: 49.5%;
	margin-left: 50.5%;
	opacity: 0.33;
}

.stats {
	width: 350px;
}

.main-para {
	line-height: 1.75;
	width: 290px;
	margin: 5% 0 0 12%
}

.table-para {
	font-family: "Lexend Deca", sans-serif;
}

/****Codigo para centrar objetos*****/
.centered {
	/* position: fixed; */
	position: absolute;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}
